table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd; 
  }
  
  th, td {
    padding: 12px; 
    text-align: left; 
  }
  
  th {
    background-color: #62891F; 
    color: black ; 
  }
  
  td {
    background-color: #f9f9f9; 
  }

  
  .btn-editar, .btn-eliminar, .btn-guardarcambios {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin: 5px;
  }
  .btn-editar {
    background-color: #FFA500;
    color: white;
  }
  
  .btn-editar:hover {
    background-color: #ff8c00;
  }

  .btn-eliminar {
    background-color: #f44336;
    color: white;
  }
  
  .btn-eliminar:hover {
    background-color: #d32f2f;
  }

  .btn-guardarcambios{
    background-color: #62891F;
    color: white;
  }

  .btn-guardarcambios:hover{
    background-color: #6e9131;
  }
  
  div {
    margin-top: 20px;
  }
  