<div class="container">
  <header>
    <div class="header-content">
      <img class="logo" src="cancha2.0.PNG" alt="Logo de Football League Editor F.V." /> 
      <h1>Football League Editor F.V.</h1>
      <nav>
        <a href="/">Inicio</a>
        <a href="/equipos">Equipos</a>
        <a href="/partidos">Partidos</a>
      </nav>
    </div>
  </header>

  <div class="hero">
    <img class="hero-img" src="campo.jpeg" alt="Campo de fútbol">
  </div>

  <section class="summary">
    <h2>Resumen</h2>
    <div class="summary-items">
      <div class="summary-item">
        <h3>Total de equipos</h3>
        <p>{{ totalEquipos }} Equipos</p>
      </div>
      <div class="summary-item">
        <h3>Total de jugadores</h3>
        <p>{{ totalJugadores }} Jugadores</p>
      </div>
      <div class="summary-item">
        <h3>Partidos</h3>
        <p>{{ totalPartidos }} Partidos</p>
      </div>
    </div>
  </section>


  

  <footer>
    <p>&copy; 2024 Football League Editor F.V. Todos los derechos reservados.</p>
  </footer>
</div>
