<form #formEquipo="ngForm" (ngSubmit)="editarModo ? actualizarEquipo(formEquipo) : agregarEquipo(formEquipo)">
  <div>
    <label for="nombre">Nombre del equipo:</label>
    <input type="text" [(ngModel)]="nuevoEquipo.nombre" id="nombre" name="nombre" placeholder="" required>
  </div>
  <div>
    <label for="ciudad">Ciudad:</label>
    <input type="text" [(ngModel)]="nuevoEquipo.ciudad" id="ciudad" name="ciudad" placeholder="" required>
  </div>
  <div>
    <label for="fundacion">Año de fundación:</label>
    <input type="number" [(ngModel)]="nuevoEquipo.anioFundacion" id="fundacion" name="fundacion" placeholder="" required>
  </div>
  <div>
    <label for="entrenador">Nombre del entrenador:</label>
    <input type="text" [(ngModel)]="nuevoEquipo.entrenador" id="entrenador" name="entrenador" placeholder="" required>
  </div>
  <button type="submit">{{ editarModo ? 'Actualizar Equipo' : 'Agregar Equipo' }}</button>
</form>
